<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <div th:if="${param.error}">Usuario o contraseña incorrectos</div>
    <div th:if="${param.logout}">Has cerrado sesión</div>
    <div th:if="${param.registered}">¡Registro exitoso! Por favor inicia sesión</div>
    
    <form th:action="@{/login}" method="post">
        <div>
            <label>Usuario: <input type="text" name="username"/></label>
        </div>
        <div>
            <label>Contraseña: <input type="password" name="password"/></label>
        </div>
        <div>
            <button type="submit">Iniciar sesión</button>
        </div>
    </form>
    <a th:href="@{/register}">Registrarse</a>
</body>
</html>